<!-- Global site tag (gtag.js) - Google Analytics -->
<link rel="stylesheet" href="{{ " style/main." | absLangURL }}css">
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177934347-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-177934347-1');
</script>
<style>
  #me {
    width: 150px;
    max-width: 30%;
    float: right;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    opacity: 0.75;
  }
  ul {
    list-style-type: square;
  }

</style>